.App {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body::-webkit-scrollbar {
  display: none;
}

.image-gallery{
  position: absolute;
  top: 130px;
  left: 500px;
  transform: translateX(-50%); 
  width: 100%;
  padding-left: 20px;
  padding-bottom: 80px;
}
