.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 0px;
    padding: 0;
    margin: 50px; 
    justify-content: center;
    justify-items: center; 
  }
  .product {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    position: relative; 
    transition: background-color 0.8s; 
  }
  
  .product::before {
    border-radius: 20px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 0.8s;
  }
  
  .product:hover::before {
    opacity: 1;
  }
  
  .product:hover {
    background-color: rgba(0, 0, 0, 0.25); 
  }
  
  .product .details-button {
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    background-color: #ffffff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0; 
    transition: opacity 0.3s; 
    text-decoration: none; 
  }
  
  .product:hover .details-button {
    opacity: 1; 
  }
  
  .product img {
    width: 60%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
  }
  
  .product:hover img {
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  .product h2 {
    margin-top: 10px;
  }
  
  .product p {
    margin-bottom: 10px;
  }